@import "tailwindcss";

@font-face {
  font-family: "Blur Bold";
  src: url("/fonts/Blur Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --color-background-dark: #2f2122;
  --color-background-light: #e0dddd;

  /* --color-leof-orange: #d4693a; */
  --color-leof-orange: #e3632a;
  --color-leof-green: #5e9744;
  --color-leof-green-accent: #4A9936; 
  --color-leof-pink: #bb84b0;
  --color-leof-burgundy: #732a5d;
  --color-leof-purple: #4e3183;
  --color-leof-accentPink: #D53D86;
  --color-leof-orange-light: #ee9c3d;
  --color-leof-red: #cf4939;
  --color-leof-lightblue: #4090BF;
  --color-leof-yellow: #F1BE41;

  --font-blur: "Blur Bold", system-ui, sans-serif;
  --font-plex: "IBM Plex Mono", ui-monospace, monospace;
  --font-poppins: "Poppins Bold", system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    background: var(--color-background-dark);
  }

  body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: var(--font-plex);
    color: var(--color-background-light);
    background: var(--color-background-dark);
  }

  h1,
  h2,
  h3,
  strong {
    font-family: var(--font-blur);
    font-weight: 700;
  }
}
